* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #647c56;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, serif;
}

